.ap-match {
  & .ap-match-result {
    display: flex;
    gap: 1rem;
    & .ap-match-result-side {
      width: 0;
      flex-grow: 1;
      text-align: right;

      & + .ap-match-result-side {
        text-align: left;
      }

      &.ap-match-result-side--winner {
        font-weight: bold;
      }

      & .ap-match-result-team {
        font-size: 1.2rem;
      }
      & .ap-match-result-score {
        font-size: 2rem;
      }
    }
  }

  & .ap-match-tiles {
    margin-bottom: 2rem;
  }

  & .ap-match-table {
    & thead {
      & th {
        text-align: left;
        padding: 0.25rem;
      }
      & th:first-child {
        text-align: left;
        padding: 1rem;
      }
    }
  }
}