.ap-match {
  & .ap-match-table {
    & thead {
      & th {
        text-align: left;
        padding: 0.25rem;
      }
      & th:first-child {
        text-align: left;
        padding: 1rem;
      }
    }
  }
}