html, 
body, 
#reactroot {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: Roboto;
}

.ap-title {
  width: 100%;
  text-align: center;
}

.ap-table {
  border-collapse: collapse;
  width: 100%;
  & tbody {
    & tr:nth-child(odd) {
      background: #EEE;
    }
    & td {
      padding: 0.5rem 0.25rem;
    }
    & td:first-child {
      padding-inline-start: 1rem;
    }
    & td:last-child {
      padding-inline-end: 1rem;
    }
  }
}