.ap-matchs {

  & .ap-matchs-description {
    font-style: italic;
    text-align: center;
    font-size: 0.85rem;
    color: #AAA;
    margin-bottom: 1rem;
  }

  & .ap-matchs-tiles {
    margin-bottom: 2rem;
  }

  & .ap-matchs-table {
    width: 100%;
    & .ap-matchs-table-row {
      cursor: pointer;
      & .ap-matchs-table-cell--date {
        font-size: 0.8rem;
      }
      & .score {
        display: inline-block;
        width: 30px;
      }
    }
  }
}